/* roboto-regular - cyrillic_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff')
  }
  /* roboto-700 - cyrillic_latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-cyrillic_latin-700.woff') format('woff')
  }
  /* roboto-500 - cyrillic_latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-v20-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-cyrillic_latin-500.woff') format('woff')
  }

  body {
      margin: 0;
      padding: 0;

      font-family: "Roboto", Arial, sans-serif;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #ffffff;

      background-color: #849d8f;
  }

  .site-links,
  .site-links__item,
  .slider__list,
  .slider__btns,
  .offer__list,
  .catalog__list,
  .social-list,
  .footer__navigation,
  .breadcrumbs,
  .filters__fat--list,
  .filters__fillers--list,
  .catalog__list,
  .pagination {
       list-style: none;
  }

  .site-links a,
  .main-controls a,
  .main-contacts a,
  .catalog__list a,
  .social-list a,
  .footer__navigation a,
  .footer__copyright a,
  .pagination a,
  .breadcrumbs a {
       color: #ffffff;
  }

  .main-contacts a:focus,
  .main-contacts a:hover,
  .catalog__list a:focus,
  .catalog__list a:hover,
  .social-list a:focus,
  .social-list a:hover,
  .footer__navigation a:focus,
  .footer__navigation a:hover,
  .footer__copyright a:focus,
  .footer__copyright a:hover,
  .breadcrumbs a:focus,
  .breadcrumbs a:hover,
  a.form-entrance__forgot:hover,
  a.form-entrance__registration:hover,
  a.form-entrance__forgot:focus,
  a.form-entrance__registration:focus {
       color: #ffbc9e;
  }

  .special,
  .news-blog,
  .news-blog a,
  .address {
      color: #323232;
  }

  *, *::before, *::after {
     box-sizing: border-box;
  }

  .header {
      width: 100%;
  }

  .main-navigation {
      width: 1200px;

      display: flex;

      margin: 0 auto;
  }

  .main-navigation--wrap {
      margin: 0 auto;
  }

  .site-logo {
     margin-right: 26px;
  }

  .site-logo img {
     width: 154px;
     height: 64px;
  }

  .site-links {
       font-size: 16px;
       line-height: 18px;
       font-weight: 700;

       width: 390px;
       height: 74px;

       margin: 0;
       padding: 0;
  }

  .site-links__item a {
      color: #ffffff;

      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
  }

  .sub-menu__item a {
     text-decoration: none;

     color: #323232;

     font-size: 14px;
     line-height: 16px;
     font-weight: 400;
  }

  .sub-menu__item:first-child a {
     font-weight: 700;
  }

  .main-controls {
      width: 390px;
      height: 74px;
      
      margin: 0;
      padding: 0;

      margin-left: auto;
  }

  .main-controls__item a {
      text-decoration: none;

      color: #ffffff;

      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
   }

   .basket-list__item--name {
      text-decoration: none;

      color: #323232;

      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
   }

   .basket-list__item--quantity,
   .basket-list__item--price {
      color: #323232;

      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
   }

   .basket-list__item--kg {
      color: #999999;

      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
   }

   .main-controls__item--total {
      color: #323232;

      font-size: 15px;
      line-height: 18px;
      font-weight: 700;
   }

  .form-entrance__btn,
  .modal__form--btn,
  .main-controls__btn--order,
  a.catalog-item__btn,
  .subscription__button,
  .address__btn {
      text-decoration: none;

      color: #fefefe;

      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
  }

  a.form-entrance__forgot,
  a.form-entrance__registration {
      color: #323232;

      font-size: 13px;
      line-height: 24px;
      font-weight: 400;
  }

  .info-wrap {
      display: flex;
      flex-direction: column;
      width: 1146px;
      margin: 0 auto;
  }

  .page-title {
     order: 1;
  }

  .breadcrumbs {
     margin: 0;
     padding: 0;
  }

  .no-crumbs {
     margin-left: auto;
  }

  .contacts-breadcrumbs {
     display: flex;
     justify-content: space-between;

     width: 1146px;

     margin: 0 auto;
  }

  .main-contacts {
     font-size: 14px;
     line-height: 16px;
     font-weight: 700;
  }

  .main-contacts a {
     font-size: 22px;
     line-height: 24px;
     font-weight: 700;
     text-decoration: none;
  }

  .slider__list p {
     font-size: 60px;
     line-height: 60.35px;
     font-weight: 700;
     text-align: center;
  }

  .slider__list a {
     font-size: 32px;
     line-height: 44px;
     font-weight: 700;
     color: #ffffff;
     text-decoration: none;
  }

   a.slider__item--btn {
   color: #ffffff;

   font-size: 32px;
   line-height: 44px;
   font-weight: 700;
  }

  .catalog__list {
     margin: 0;
     padding: 0;
     display: flex;
     width: 1146px;
     flex-wrap: wrap;
     margin: 0 auto;
  }

  .offer__title {
     font-size: 35px;
     line-height: 41px;
     font-weight: 700;
  }

  .offer__description {
     font-size: 18px;
     line-height: 22px;
     font-weight: 700;
  }

  .offer__link {
     font-size: 18px;
     line-height: 24px;
     font-weight: 700;

     color: #ffffff;

     text-decoration: none;
  }

  .catalog__item {
     margin-right: 26px;
  }

  .catalog__item:nth-child(4n) {
     margin-right: 0;
  }

  .catalog-item__title {
     font-size: 16px;
     line-height: 22px;
     font-weight: 500;

     width:267px;
  }

  .catalog-item__price {
     font-size: 45px;
     line-height: 45px;
     font-weight: 700;
  }

  .catalog-item__price span {
     font-size: 30px;
     line-height: 45px;
     font-weight: 700;
  }

  .catalog-item__btn {
     font-size: 18px;
     line-height: 24px;
     font-weight: 700;
  }

  .special__description {
     font-size: 24px;
     line-height: 30px;
     font-weight: 500;
  }

  .special_item {
     font-size: 16px;
     line-height: 22px;
     font-weight: 400;
  }

  .news-blog__title {
     font-size: 16px;
     line-height: 22px;
     font-weight: 500;

     margin: 0;
     padding: 0;
  }

  .news-blog__description {
     font-size: 24px;
     line-height: 30px;
     font-weight: 700;
  }

  .subscription__description {
     font-size: 16px;
     line-height: 22px;
     font-weight: 400;
  }

  .address {
     background-color: #fefefe;
  }

  .address p {
     font-size: 14px;
     line-height: 20px;
     font-weight: 400;
  }

  .address span {
     font-size: 18px;
     line-height: 24px;
     font-weight: 700;
  }

  .address__btn {
     font-size: 18px;
     line-height: 24px;
     font-weight: 700;
  }

  .footer {
     display: flex;
     justify-content: space-between;

     width: 1200px;

     margin: 0 auto;
     padding-top: 23px;
     padding-left: 27px;
     padding-right: 27px;
     padding-bottom: 23px;
  }
  
  .social-list {
     margin: 0;
     padding: 0;
  }

  .footer__navigation {
     margin: 0;
     padding: 0;
  }

  .footer__copyright {
     margin: 0;
     padding: 0;
  }

  .footer__navigation_item {
     font-size: 13px;
     line-height: 18px;
     font-weight: 400;
  }

  .footer__navigation_item:first-child {
     font-weight: 700;
  }

  .footer__copyright {
     font-size: 12px;
     line-height: 18px;
     font-weight: 400;
  }

  .breadcrumbs__item {
     font-size: 14px;
     line-height: 16px;
     font-weight: 400;
  }

  .page-title {
     font-size: 35px;
     line-height: 41px;
     font-weight: 7 00;
  }

  .filters__title {
     font-size: 14px;
     line-height: 16px;
     font-weight: 500;
  }

  .filters__select,
  .filters__fat,
  .filters__fillers,
  .filters__btn {
     font-size: 16px;
     line-height: 18px;
     font-weight: 500;
  }

  .pagination__item {
     font-size: 16px;
     line-height: 18px;
     font-weight: 500;
  }

  .pagination__item a {
     text-decoration: none;
  }

  .breadcrumbs__item--current a {
       text-decoration: none;
  }

  .offer--berry {
       background-color: #5d1220;
       background-image: url("../img/berry.jpg");
  }

  .offer--choco {
      background-color: #3d2318;
      background-image: url("../img/choco-background.jpg");
  }

  .special {
      background-color: #eee2c9;
      background-image: url("../img/background.jpg");

      width: 1146px;
      margin: 0 auto;
      margin-bottom: 40px;
      padding: 26px 21px;
  }

  .news-subscription-wrap {
      width: 1146px;

      margin: 0 auto;
      display: flex;
      flex-direction:;
      justify-content: space-between;
  }

  .news-blog {
      background-color: #ffffff;
      background-image: url("../img/strawberry-background.jpg");

      width: 560px;
  }

  .subscription {
     background-color: #f8f7f4;
     background-image: url("../img/substrate.png");
     color: #5a5a5a;

     width: 560px;
  }

  .modal__title {
   color: #323232;

   font-size: 24px;
   line-height: 28px;
   font-weight: 500;
  }